/*keyframes for the animations*/
@keyframes pulse{
  0%{
    transform: scale(.90);
  }

  70%{
    transform: scale(1);
  }

  100%{
    transform: scale(.90);
  }
}

@keyframes spin{
  from{
    --angle: 0deg;
  }

  to{
    --angle: 360deg;
  }
}

@keyframes wiggle {
  0% {
    opacity: 1;
    transform: scale(0.9) rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: scale(1) rotate(2deg);
  }
  70% {
    opacity: 1;
    transform: scale(1) rotate(-2deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes spin_pp{
  from{
    --angle_pp: 0deg;
  }

  to{
    --angle_pp: 360deg;
  }
}

@keyframes fadeInAfter {
  to {
    opacity: 1;
  }
}
