@property --angle_pp{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.animate-popup-cr, .animate-popup-jr {
  opacity: 1;
  animation: wiggle 1s ease-in-out;
  z-index: 40;
}

.animate-popup-cr::after {
  background-image: conic-gradient(from var(--angle_pp), transparent 70%, #A855F7);
}

.animate-popup-jr::after {
  background-image: conic-gradient(from var(--angle_pp), transparent 70%, #123499);
}

.animate-popup-cr::after, .animate-popup-jr::after {
  content: '';
  position: absolute;
  width: 102%;
  height: 102%;
  border-radius: 0.5rem;

  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;

  opacity: 0;
  animation: spin_pp 3s linear infinite 1s, fadeInAfter 0s 1s forwards;
}
