/*properties for the animations*/
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


head,
body {
  background-image: linear-gradient(to left bottom, #1f0715, #1d0819, #1a0a1c, #160c1f, #110e22, #0f0e23, #0c0f25, #080f26, #090d27, #0c0b27, #0e0828, #110528);  width: 0.5vw;
  height: 100vh;
  width: 100vw;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

/*style the background border of the chat*/
.bg-cont {
  position: relative;
}

.bg-cont::after, .bg-cont::before {
  content: '';
  position: absolute;
  width: 100%;
  background-image: conic-gradient(from var(--angle), red, orange, yellow, green, blue, indigo, violet, red);
  height: 100%;
  border-radius: 0.5rem;

  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;

  animation: 3s spin linear infinite;
}

.bg-cont::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

/*style button on hover*/
.button_cont:hover{
  animation: pulse 2s infinite;
}


/*keyframes for the animations*/
@keyframes pulse{
  0%{
    transform: scale(.90);
  }

  70%{
    transform: scale(1);
  }

  100%{
    transform: scale(.90);
  }
}

@keyframes spin{
  from{
    --angle: 0deg;
  }

  to{
    --angle: 360deg;
  }
}
